.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #283d92;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #283d92;
}
h1{
  font-family: 'Jua', sans-serif;
}
h2{
  font-weight: bold;
}