{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default" style="margin-bottom:0px">
  <div class="panel-body" style="margin-left:50px">
    <h1>고객 반품 관리</h1>
  </div>
</div>
<table class="table table-striped" style="margin-left:5px">
  <thead>
    <tr>
      <th>상품명</th>
      <th>수량</th>
      <th>반품요청일</th>
      <th>반품사유</th>
    </tr>
  </thead>
  <tbody>
    {% for refund in refunds %}
    <tr>
      <td>{{ refund.barcode }}</td>
      <td>{{ refund.quantity }}</td>
      <td>{{ refund.refund_timestamp }}</td>
      <td>{{ refund.get_refund_reason_code_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--추가 버튼 및 페이지 표시 -->
<nav>
  <div class="text-center">
    <ul class="pagination">
      <li>
          <span aria-hidden="true">-</span>
      </li>
      {% for page in pages %}
      {% if this_page == page %}
      <li class="active"><a href="?page={{page}}">{{page}}</a></li>
      {% else %}
      <li><a href="?page={{page}}">{{page}}</a></li>
      {% endif %}
      {% endfor %}
      <li>
          <span aria-hidden="true">-</span>
      </li>
    </ul>
  </div>


</nav>


{%endblock%}