{% extends 'baseAdmin.html' %}
{% block content %}
<table class="table table-striped" style="margin-left:5px">
  <caption><h1 class="well">DashBoard</h1></caption>
  <thead>
    <tr>
      <th>#</th>
      <th>상품명</th>
      <th>상품설명</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>갤럭시</td>
      <td>아이폰보다좋음</td>
    </tr>
    <tr>
      <th>2</th>
      <td>삼다수</td>
      <td>비쌈</td>
    </tr>
    <tr>
      <th>3</th>
      <td>시립대</td>
      <td>쌈</td>
    </tr>
    <tr>     
        <tr>
            <th>1</th>
            <td>갤럭시</td>
            <td>아이폰보다좋음</td>
          </tr>
          <tr>
            <th>2</th>
            <td>삼다수</td>
            <td>비쌈</td>
          </tr>
          <tr>
            <th>3</th>
            <td>시립대</td>
            <td>쌈</td>
          </tr>
  </tbody>
</table>


<nav>
  <div class="text-center">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
</div>
</div>
{% endblock %}