{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>UOS25</title>


  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  <style>

  </style>
  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>

  </script>
</head>
<body>
    <div style="margin-left: 45%;margin-top:10%">
        <a class="btn btn-default" href="/indexAdmin" role="button" style="align-content: center;">본사</a>
        <a class="btn btn-default" href="/index" role="button" style="align-content: center">가맹점</a>
    </div>

    <!-- Footer -->
    <footer style="margin-top:50px; width:100%;background-color: #f5f5f5">
        <br>
        <div class="container">
          <p class="m-0 text-center text-white"><b>Copyright &copy; 김현우,이정한,임창일 2019</b></p>
          <p class="m-0 text-center text-white"><b>문의사항 : diablo8273@gmail.com</b></p>
        </div>
        <br>
      </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
