{% extends 'base.html' %}
{% load bootstrap3 %}

{% block calendar_widget %}
{{ orderRegisterForm.media }}
{% endblock %}

{% block content %}
<div class="panel panel-default" style="margin-bottom:0px">
  <div class="panel-body" style="margin-left:50px">
    <h1>본사 주문 관리</h1>
  </div>
</div>
<table class="table table-striped" style="margin-left:5px">
  <thead>
    <tr>
      <th>주문 시각</th>
      <th>완료 시각</th>
      <th>처리 결과</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.order_timestamp }}</td>
      <td>{{ order.complete_timestamp|default_if_none:"" }}</td>
      <td>{{ order.process_code}}</td>
      <td><button type="button" class="btn btn-success"><a href="{% url 'orderManageList' %}?order_id={{order.id}}">
        <span style="color:white">내역</span></a></button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--추가 버튼 및 페이지 표시 -->
<nav>
  <div class="text-center">
    <ul class="pagination">
      <li>
          <span aria-hidden="true">-</span>
      </li>
      {% for page in pages %}
      {% if this_page == page %}
      <li class="active"><a href="?page={{page}}">{{page}}</a></li>
      {% else %}
      <li><a href="?page={{page}}">{{page}}</a></li>
      {% endif %}
      {% endfor %}
      <li>
          <span aria-hidden="true">-</span>
      </li>
    </ul>
  </div>

  <!-- 추가 버튼 -->
  <div class="btn-group" role="group" style="margin-top:-100px;margin-left: 20px">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add">주문 추가</button>
  </div>

</nav>
<script>
  document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);;
</script>
<!--add모달-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 모달 창 제목 -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addLabel">주문 추가</h4>
      </div>

      <!-- 모달 창 내용 -->
      <form action="{% url 'orderManage' %}?process=register&page={{this_page}}" method="POST">
        {% bootstrap_form orderRegisterForm %}
        {% csrf_token %}
      </div>
      <div class="modal-footer">
        {% buttons %}
        <button type="submit" class="btn btn-primary">확인</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        {% endbuttons %}
      </div>
      </form>

    </div>
  </div>
</div>
{%endblock%}