{% extends 'base.html' %}
{% block content %}
<div class="panel panel-default" style="margin-bottom:0px">
  <div class="panel-body" style="margin-left:50px">
    <h1>재고추가</h1>
  </div>
</div>
  <form method="POST" style="margin-left:50px; padding-top:50px; padding-bottom:50px">
    <div class="form-group">
      <label for="name">상품명</label>
      <input type="text" class="form-control" id="name" name="productName" maxlength="50" style="width:auto">
    </div>
    <div class="form-group">
      <label for="content">설명</label>
      <input type="text" class="form-control" id="content" name="content" maxlength="50"style="width:auto">
    </div>
    {%csrf_token%}
    <button type="submit" class="btn btn-default">추가하기</button>
  </form>
{%endblock%}

