{% extends 'base.html' %}
{% block content %}
  <div class="panel panel-default" style="margin-bottom:0px">
      <div class="panel-body" style="margin-left:50px">
        <h1>매출관리</h1>
      </div>
    </div>
    <table class="table table-striped" style="margin-left:5px">
      <thead>
        <tr>
          <th>해당 월</th>
          <th>총 매출액</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
          <tr>
            {% for value in record %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

<!--추가 버튼 및 페이지 표시 -->
<nav>
  <div class="text-center">
    <ul class="pagination">
      <li>
          <span aria-hidden="true">-</span>
      </li>
      {% for page in pages %}
      {% if this_page == page %}
      <li class="active"><a href="?page={{page}}">{{page}}</a></li>
      {% else %}
      <li><a href="?page={{page}}">{{page}}</a></li>
      {% endif %}
      {% endfor %}
      <li>
          <span aria-hidden="true">-</span>
      </li>
    </ul>
  </div>


{%endblock%}

