{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="panel panel-default" style="margin-bottom:0px">
  <div class="panel-body" style="margin-left:50px">
    <h1>재고 관리</h1>
  </div>
</div>
<table class="table table-striped" style="margin-left:5px">
  <thead>
    <tr>
      <th>상품</th>
      <th>전시 위치</th>
      <th>수량</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>{{ stock.barcode }}</td>
      <td>{{ stock.get_display_location_code_display }}</td>
      <td>{{ stock.quantity }}</td>
      <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#update" 
        onclick="update_onclick({{ stock.id }}, {{ stock.barcode.barcode }}, {{ stock.display_location_code }}, {{ stock.quantity }} )">수정</button></td>
      <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#del" 
        onclick="delete_onclick({{ stock.id }}, '{{ stock.barcode }}_{{ stock.get_display_location_code_display }}')">삭제</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--추가 버튼 및 페이지 표시 -->
<nav>
  <div class="text-center">
    <ul class="pagination">
      <li>
          <span aria-hidden="true">-</span>
      </li>
      {% for page in pages %}
      {% if this_page == page %}
      <li class="active"><a href="?page={{page}}">{{page}}</a></li>
      {% else %}
      <li><a href="?page={{page}}">{{page}}</a></li>
      {% endif %}
      {% endfor %}
      <li>
          <span aria-hidden="true">-</span>
      </li>
    </ul>
  </div>

  <!-- 추가 버튼 -->
  <div class="btn-group" role="group" style="margin-top:-100px;margin-left: 20px">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add">재고 추가</button>
  </div>

</nav>

<!--add모달-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 모달 창 제목 -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addLabel">재고 추가</h4>
      </div>

      <!-- 모달 창 내용 -->
      <form action="{% url 'stockManage' %}?process=register&page={{this_page}}" method="POST">
      <div class="modal-body input-group">
        {% bootstrap_form stockRegisterForm %}
        {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">확인</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
delete_onclick = function(id, name) {
  $("#delete_id").text(name);
  $("#del_id").val(id);
}
update_onclick = function(id, barcode, display_location_code, quantity) {
  $("#update_id").val(id);
  $("#update_barcode").val(barcode);
  $("#update_display_location_code").val(display_location_code);
  $("#update_quantity").val(quantity);
}
</script>

<!--del모달-->
<div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 모달 창 제목 -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="delLabel">삭제하기</h4>
      </div>

      <!-- 모달 창 내용 -->
      <form action="{% url 'stockManage' %}?process=delete&page={{this_page}}" method="POST">
      <div class="modal-body">
        <span id="delete_id"></span> 의 재고를 정말로 삭제하시겠습니까?
        <input type="hidden" id="del_id" name="id" value=""> 
        {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">확인</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
      </form>

    </div>
  </div>
</div>

<!--update모달-->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 모달 창 제목 -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateLabel">수정하기</h4>
      </div>

      <!-- 모달 창 내용 -->
      <form action="{% url 'stockManage' %}?process=update&page={{this_page}}" method="POST">
      <div class="modal-body input-group">
        {% bootstrap_form stockUpdateForm %}
        {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">확인</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}