{% extends 'baseAdmin.html' %}

{% load bootstrap3 %}

{% block calendar_widget %}
{{ storeOrderUpdateForm.media }}
{% endblock calendar_widget %}

{% block content %}
  <div class="panel panel-default" style="margin-bottom:0px">
      <div class="panel-body" style="margin-left:50px">
        <h1 style="font-family: 'Jua', sans-serif;">가맹점 주문 관리</h1>
      </div>
    </div>
    <table class="table table-striped" style="margin-left:5px">
      <thead>
        <tr>
          <th>가맹점</th>
          <th>주문 시각</th>
          <th>완료 시각</th>
          <th>처리코드</th>
          <th>총 가격</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.store_id }}</td>
            <td>{{ order.order_timestamp }}</td>
            <td>{{ order.complete_timestamp }}</td>
            <td>{{ order.process_code }}</td>
            <td>{{ order.sum_price }}</td>
      <td><button type="button" class="btn btn-success"><a href="{% url 'storeOrderManageList' %}?order_id={{order.id}}">
        <span style="color:white">상세내역</span></a></button></td>
      <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#update" 
        onclick="update_onclick('{{ order.id }}', '{{ order.store_id.id }}', '{{ order.order_timestamp.isoformat }}', '{{ order.complete_timestamp.isoformat | default_if_none:"" }}','{{ order.process_code }}')">수정</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
<!--추가 버튼 및 페이지 표시 -->
<nav>
  <div class="text-center">
    <ul class="pagination">
      <li>
          <span aria-hidden="true">-</span>
      </li>
      {% for page in pages %}
      {% if this_page == page %}
      <li class="active"><a href="?page={{page}}">{{page}}</a></li>
      {% else %}
      <li><a href="?page={{page}}">{{page}}</a></li>
      {% endif %}
      {% endfor %}
      <li>
          <span aria-hidden="true">-</span>
      </li>
    </ul>
  </div>

  <!-- 추가 버튼 -->
  {% comment %} <div class="btn-group" role="group" style="margin-top:-100px;margin-left: 20px">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add">처리1</button>
  </div> {% endcomment %}

</nav>

<script type="text/javascript">

update_onclick = function(id, store_id, order_timestamp, complete_timestamp, process_code) {
  convert = function(st){
    st = st.split('/').join('-') // equal to replaceAll
    st = st.split('T').join(' ')
    st = st.substr(0, st.indexOf('+'))
    return st
  }
  $("#update_id").val(id);
  $("#update_store_id").val(store_id);
  $("#update_order_timestamp").val(convert(order_timestamp));
  $("#update_complete_timestamp").val(convert(complete_timestamp));
  $("#update_process_code").val(process_code);
}

</script>

<!--update모달-->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 모달 창 제목 -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateLabel">수정하기</h4>
      </div>

      <!-- 모달 창 내용 -->
      <form action="{% url 'storeOrderManage' %}?process=update&page={{this_page}}" method="POST">
      <div class="modal-body input-group">
        {% bootstrap_form storeOrderUpdateForm %}
        {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">확인</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}

