{% extends 'base.html' %}
{% block content %}
<div class="panel panel-default" style="margin-bottom:0px">
  <div class="panel-body" style="margin-left:50px">
    <h1>근무기록 관리</h1>
  </div>
</div>
<table class="table table-striped" style="margin-left:5px">
  <thead>
    <tr>
      <th>직원명</th>
      <th>근무시작</th>
      <th>근무종료</th>
      <th>점주확인</th>
    </tr>
  </thead>
  <tbody>
    {% for worklist in worklists %}
    <tr>
      <td>{{ worklist.employee_id }}</td>
      <td>{{ worklist.workstart_timestamp }}</td>
      <td>{{ worklist.workend_timestamp }}</td>
      <td>{{ worklist.storeowner_check }}</td>
      <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#del" 
        onclick="delete_onclick({{ worklist.id }})">삭제</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--추가 버튼 및 페이지 표시 -->
<nav>
  <div class="text-center">
    <ul class="pagination">
      <li>
          <span aria-hidden="true">&laquo;</span>
      </li>
      {% for page in pages %}
      {% if this_page == page %}
      <li><a href="?page={{page}}"><b>{{page}}</b></a></li>
      {% else %}
      <li><a href="?page={{page}}">{{page}}</a></li>
      {% endif %}
      {% endfor %}
      <li>
          <span aria-hidden="true">&raquo;</span>
      </li>
    </ul>
  </div>

  <!-- 추가 버튼 -->
  <div class="btn-group" role="group" style="margin-top:-100px;margin-left: 20px">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add">기록 추가</button>
  </div>

</nav>

<!--add모달-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 모달 창 제목 -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addLabel">기록 추가</h4>
      </div>

      <!-- 모달 창 내용 -->
      <form action="{% url 'workListManage' %}?process=register&page={{this_page}}" method="POST">
      <div class="modal-body input-group">
        {{ workListRegisterForm }}
        {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">확인</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
delete_onclick = function(id) {
  $("#del_id").val(id);
}
</script>

<!--del모달-->
<div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 모달 창 제목 -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="delLabel">기록 취소</h4>
      </div>

      <!-- 모달 창 내용 -->
      <form action="{% url 'workListManage' %}?process=delete&page={{this_page}}" method="POST">
      <div class="modal-body">
        이 기록을 정말로 취소하시겠습니까?
        <input type="hidden" id="del_id" name="id" value=""> 
        {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">확인</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
      </form>

    </div>
  </div>
</div>
{%endblock%}